<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Bhargav.Marsonia.c301108254">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MarsoniaLastScreen"></activity>
        <activity android:name=".MarsoniaProceedToCheckout" />
        <activity android:name=".MarsoniaCheckout" />
        <activity android:name=".MarsoniaTown" />
        <activity android:name=".MarsoniaSemi" />
        <activity android:name=".MarsoniaDetached" />
        <activity android:name=".MarsoniaCondo" />
        <activity android:name=".MarsoniaApartment" />
        <activity android:name=".MarsoniaActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>